<div cdkDropListGroup  class="columns" id="columns">
   <app-board class="column" 
      *ngFor="let item of boards" [board] = item>
   </app-board>
</div>
<div class="adder" (click)="addBoard()">
   <span class="action">+ Add a board</span>
</div>

<!--
   <div cdkDropList (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal" class="columns" id="columns">
   <app-board cdkDrag  class="column"  *ngFor="let item of boards" [board] = item></app-board>
</div>
<div class="adder" (click)="addBoard()">
   <span class="action">+ Add a board</span>
</div>


-->