 .container{
   position: relative;
   height: 100vh;
 }

.row {
   display: flex;
   align-items: flex-start;
   height: 100%;
   overflow-x: auto;
   overflow-y: hidden;
}

.trash{
   position: absolute;
   right: 0;
   bottom: 0;
   img{
       padding: 20px;
   }
  
}