<div class="column-header">
   <div class="caption" *ngIf="editable">
      <span>   
         {{board.title}}
      </span>
      <i class="material-icons icon" 
         (click)="edit()"
      >edit</i>
   </div>

   <form *ngIf="!editable">
      <input class="input" type="text" name="boardTitle"   value={{board.title}}
      (keyup)="onKey($event)">
      <i class="material-icons icon" 
      (click)="submit()"
   >done_outline</i>
   </form>
</div>
<div class="column-body">
   <app-note cdkDrag class="note" *ngFor="let note of notes"
   [note]=note [notes] = notes></app-note>
</div>
<div class="column-footer" (click)="createNote()">
   <span class="action">+ Add a note</span>
</div>
