<div class="column-header">
   <div class="caption" *ngIf="editable">
      <span>   
         {{board.title}}
      </span>
      <div class="icons">
         <i class="material-icons icon" title="edit"
         (click)="edit()">
         edit</i>
         <i class="material-icons icon delete" title="delete"
         (click)="prepareToDelete()">
         delete</i>
      </div>
   </div>
   <div class="overlay" *ngIf="!editable"  (click)="submit()"></div>
   <form *ngIf="!editable">
      <input class="input" type="text" name="boardTitle" value={{board.title}} autofocus
      (keyup)="onKey($event)">
      <i class="material-icons icon" 
      (click)="submit()"
   >done_outline</i>
   </form>
</div>
<div cdkDropList class="column-body" [cdkDropListData]="board.notes" (cdkDropListDropped)="onTaskDrop($event)">
   <app-note cdkDrag class="note" *ngFor="let note of board.notes"
   [note]=note [notes] = board.notes></app-note>
</div>
<div class="column-footer" (click)="createNote()">
   <span class="action">+ Add a note</span>
</div>

<app-modal *ngIf="visible"
(onChosen)="onChosen($event)"></app-modal>


<!--
   <div class="column-header">
   <div class="caption" *ngIf="editable">
      <span>   
         {{board.title}}
      </span>
      <i class="material-icons icon" 
         (click)="edit()"
      >edit</i>
   </div>

   <form *ngIf="!editable">
      <input class="input" type="text" name="boardTitle"   value={{board.title}}
      (keyup)="onKey($event)">
      <i class="material-icons icon" 
      (click)="submit()"
   >done_outline</i>
   </form>
</div>
<div class="column-body">
   <app-note class="note" *ngFor="let note of board.notes"
   [note]=note [notes] = board.notes></app-note>
</div>
<div class="column-footer" (click)="createNote()">
   <span class="action">+ Add a note</span>
</div>

-->