body {
   margin: 0;
   /* background-image: url('https://source.unsplash.com/random'); */
   /* background-image: url('https://source.unsplash.com/featured?island'); */
   background-image: url("https://source.unsplash.com/1600x900/?flowers");
   background-size: cover;
   background-position: center;
   font-family: "Roboto", "Noto Sans", sans-serif;

 }

 .material-icons{
   font-size: 0.8rem;
   text-align: right;
   cursor: pointer;
   padding: 5px;
}

.icon{
   transition: all 0.2s linear;
}

.icon:hover {
   background-color: #DFE1E6;
   border-radius: 4px;
   box-shadow: 0px 1px 0px 0px #c9cfd4;
}