
   <div class="note-header" *ngIf="editable"  [ngClass]="{'done': completed}">
     <span class="name" >{{note.name}}</span> 
      <i class="material-icons icon" 
      (click)="more()"
   >more_vert</i>
   </div>
   <form class="form" *ngIf="!editable">
      <input class="input" type="text" name="noteName"   value={{note.name}}
      (keyup)="onKey($event)">
      <i class="material-icons icon" 
      (click)="submit()"
      >done_outline</i>
   </form>
   <div class="overlay" *ngIf="showed" (click)="removeOverlay()">
   </div>
   <div class="pop-up" *ngIf="showed">
      <button class="pop-action" id="edit-button" [ngClass]="{'disabled': completed}" [attr.disabled]="completed ? 'disabled' : null" (click)="edit()">
         <i class="material-icons">edit</i>
         <span>edit</span>
      </button>
      <button class="pop-action" *ngIf="!completed"  (click)="done()">
         <i class="material-icons">done_outline</i>
         <span>done</span>
      </button>
      <button class="pop-action" *ngIf="completed" (click)="done()">
         <i class="material-icons">settings_backup_restore</i>
         <span>restore</span>
      </button>
   </div>

  

